/* Global styles */
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

/* Light mode background for better contrast */
[data-mantine-color-scheme="light"] {
  background-color: #dee2e6;
}
